<h2> List of Project</h2>
<tupu-project #proj1 [project]="project"></tupu-project>
<h3>{{proj1.projectName}}</h3>

<h3>Project list</h3>
<hr/>
<div class='row' *ngFor='let proj of projectList'>
  <div class='col-2' *ngIf="displayProjectCode" >
    {{proj.id}}
  </div>
  <div class='col-4'>
    {{proj.projectName}}
  </div>

</div>
<div class='card-footer'>
  <div class='row'>
    <div class='form-check col-5'>
       <label>
            <input type="checkbox" (change)="checkChanged()"
              [checked]="displayProjectCode" />
        Display project code
       </label>
    </div>
  </div>
</div>
