<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TUPU</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
      <form class="d-flex">
          Login
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <h3>Welcome to Tupu</h3>
  <img height="100px" class="rounded float-left" src="assets/images/tupu.png">
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>
